@font-face {
  font-family: "Graphik LCG";
  src: url("/Burtnyk_Hillel_12//fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("/Burtnyk_Hillel_12//fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header a {
  text-decoration: none;
}
.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 1440px;
  height: 95px;
  margin: 0 auto;
}
.header__logo {
  margin-right: 40px;
}

.header__menu {
  display: flex;
}
.header__menu__item {
  margin-right: 42px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.header__buttons {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
.header__buttons .button1 {
  width: 120px;
  height: 45px;
  background-color: #ffffff;
  border-style: solid;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  margin-right: 10px;
}
.header__buttons .button2 {
  width: 120px;
  height: 45px;
  background-color: #ff6336;
  border-color: #ff6336;
  border-style: solid;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.container {
  width: 1290px;
  height: 628px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 250px;
  justify-content: space-between;
}
.container__item {
  margin-top: 100px;
}

.container__title {
  width: 552px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  color: #000000;
}

.container__p {
  width: 471px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  margin: 50px 0px;
}

.container__buttons .button1 {
  background-color: #ff6336;
  color: #ffffff;
  border-color: #ff6336;
  border-style: solid;
  width: 160px;
  height: 60px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  margin-right: 10px;
}
.container__buttons .button2 {
  background-color: #ffffff;
  border-style: solid;
  width: 160px;
  height: 60px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #000000;
}
.container__p__footer {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-top: 25px;
}
.container__img {
  display: flex;
  align-items: center;
}

.container--bg-orange {
  background-color: #ff9c7d;
  width: 100%;
  height: 455px;
  margin-top: -100px;
}

.container--bg-orange .regular__title {
  font-family: "Graphik LC TT";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  width: 720px;
  height: 120px;
  text-align: center;
}
.container--bg-orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  margin-top: 70px;
}

.regular__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}
.regular__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.regular__text__footer {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.regular__text__footer a {
  text-decoration: none;
  color: #000000;
}

.container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__item > .regular__title,
.regular__text {
  width: 500px;
  margin-bottom: 30px;
}
.container--bg-yellow {
  width: 100%;
  height: 1033px;
  background-color: #fff8e4;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}
.container-cards {
  width: 1290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.card {
  width: 330px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #000000;
  margin: 26px 0px 20px;
}
.card__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.card__footer {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
.regular__title--m {
  padding: 120px 0px 58px;
}
.container-boost {
  width: 1290px;
  height: 628px;
  margin: 0 auto;
  margin-bottom: 250px;
  padding-top: 155px;
}
.card-2 {
  width: 440px;
  height: 609px;
  padding-right: 30px;
  margin-top: 75px;
}
.card-2__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin: 50px 0px 35px;
}
.card-2__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 25px;
}
.card-2__footer {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.bg-aqua {
  width: 100%;
  height: 468px;
  background-color: #c9e8f2;
}
.bg-aqua__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin: 65px 59px 23px 0px;
}

.bg-aqua__footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin: 23px 0px 7px;
}
.bg-aqua__img {
  margin: 53px 0px 105px;
}
.bg-brown {
  background-color: #dabc98;
  padding: 30px 0px 40px;
}
.bg-brown .container {
  width: 1310px;
  height: 178px;
  margin: 0 auto;
  display: flex;
}

.container-right-line {
  display: flex;
  border-left: 3px solid #000000;
  width: 481px;
  height: 168px;
  justify-content: space-around;
  align-items: center;
}
.bg-brown__text {
  display: flex;
  justify-content: center;
  font-family: "Graphik LC TT";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
  align-items: center;
  margin-left: 67px;
}
.bg-aqua__container {
  width: 1290px;
  height: 465px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container-cards__img {
  height: 201px;
}
.container-column {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 169px 0px 120px;
}

.container-column__title {
  width: 790px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}
.container-column__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.container-column__button {
  margin-top: 30px;
  width: 193px;
  height: 60px;
  background-color: #ff6336;
  border-color: #ff6336;
  border-style: solid;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.bg-pink {
  width: 100%;
  background-color: #ff9c7d;
  padding: 161px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-pink__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}
.bg-pink__text {
  font-family: "Graphik LC TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 29px 0 54px;
}
.bg-pink__button {
  width: 160px;
  height: 60px;
  background-color: #000000;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.bg-grey {
  background-color: #eeeeee;
  width: 100%;
  padding: 92px 0px 48px;
}

.bg-grey__item {
  display: flex;
  flex-direction: column;
}
.bg-grey__item__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.bg-grey__item__img {
  margin: 28px 0px 31px;
}
.bg-grey__item__img-logo {
  margin-bottom: 11px;
}
.bg-grey__item__text {
  width: 290px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin: 11px 0px 15px;
}
.bg-grey__item__footer {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.bg-grey__item__list-title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}
.bg-grey__list a {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}
.bg-grey__list li {
  margin-bottom: 15px;
}
.footer {
  display: flex;
  flex-direction: row;
  width: 1290px;
  margin: 0 auto;
  border-top:3px solid #000000;
  justify-content: space-between;
  padding: 48px 0px 0px;
  margin-top: -150px;
}
.footer__logo {
  display: flex;
  flex-direction: row;
}
.footer__text {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-left: 15px;
}
